name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r phase_1/project_1_outlier_slide_gen/requirements.txt

    - name: Check Python syntax
      run: |
        python -m py_compile $(git ls-files 'phase_1/project_1_outlier_slide_gen/*.py')
